
.roadMapContainer{
    margin: 50px auto;
    padding: 50px;
}
.roadMapContainer> h1{
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0px auto;
    text-transform: uppercase;
   font-size: 3rem;
   color: var(--primary);
}
.MuiTimelineOppositeContent-root,.MuiTimelineItem-missingOppositeContent:before{
    display: none !important;
}
.MuiTimelineDot-root{
    border: none !important;
    padding: 10px !important;
}
.roadmapMain{
    max-width: 700px;
    margin: 30px auto;
}

.roadmapMain .MuiPaper-root{
    background-color:  transparent !important;
}
.MuiTimelineItem-root{
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
}
@media(max-width:550px){
    .roadMapContainer{
        padding: 30px 5px;
    }
    .MuiTypography-body1{
        font-size: .8rem !important;
        font-weight: bold !important;
    }
}
@media(max-width:360px){
    .makeStyles-paper-4{
        padding: 6px 10px !important;
    }
    .MuiTimeline-root{
        padding: 6px 8px !important;
    }
}