
.faqContainer{
    max-width: 900px;
    /* padding: 0px 20px; */
    margin: 0px auto;
}
.faqHead{
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 50px auto;
    /* text-shadow: 3px 3px 0px var(--secondary); */
    color: var(--primary);
}

.makeStyles-heading-7{
    font-weight: 700 !important;
}

.faqText{
    font-family: 'Source Sans Pro', sans-serif !important;

}
.faqContainer .MuiPaper-root{
   background-color: transparent !important;
}
.expendIcon{
    color: var(--primary) !important;
}

@media(max-width:550px){
    .makeStyles-root-6{
        width: 93% !important;
        padding: 0px 0px;
    }
    .faqHead{
        font-size: 1.4rem;
    }
}
@media(max-width:360px){
    .faqHead{
        font-size: 1.2rem;
    }
}