.logotext {
    display: inline-block;
    width: auto;
}

.bold {
    font-weight: 600 !important;
}

.normalWeight {
    font-weight: 400 !important;
}

@media only screen and (max-width: 510px) {
    .logotext {
      display:none;
    }
}