
.myNftContainer{
    margin: 60px auto;
    max-width: 1150px;
    padding: 0px 20px;
}
.myHead{
    margin: 30px auto ;
    text-align: center;
    /* border-bottom:3px solid var(--primary); */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 5px;
    /* text-shadow: 3px 3px 0px var(--secondary); */
   font-size: 3rem;
   color: var(--primary);
}

.myNftContainer .MuiDialog-paperWidthSm{
   max-width: 1000px !important;
}

/* popup styel  */

.listPopupContainer{
    width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.itemFormMain{
    width: 470px;
}
.priceInp{
    margin-top: 20px;
}
.priceInp h5{
    font-size: 1.1rem;
    /* color: var(--primary); */
}
.itemInp{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}
.botmPrice{
    text-align: end;
    font-size: .8rem;
    color: var(--primary);
    /* color: gray; */
}
.priInp{
    width: 100% !important;
}

.makeStyles-formControl-18{
    margin: 0px 5px !important;
}

.previewMain{
    width: 300px;
}
.previewCard{
    border: 1px solid var(--primary);
    border-radius: 10px;
    margin-top: 10px;
}
.previewMain img{
    width: 100%;
    max-height: 150px;
    -o-object-fit:scale-down;
       object-fit:scale-down;
}
.previewCard video{
    height: 150px;
    width: 100%;
}
.prevCardBody{
    padding: 15px ;

}
.prevPrice{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   margin: 10px 0px;
}
.priceDetail p{
    font-size: .9rem;
    font-weight: 600;
}
.grey{
    color: gray;
}
.MuiSelect-icon.Mui-disabled{
    display: none !important;
}

@media(max-width:700px){
    .previewMain{
        width: 250px;
    }
    .itemFormMain{
        width: 300px;
    }
    .listPopupContainer{
        width: 570px;
    }
    .previewMain h2{
        font-size: 1rem;
    }
}
@media(max-width:600px){
    .previewMain{
        width: 200px;
    }
    .listPopupContainer{
        width: 520px;
    }
    .previewMain img{
        max-height: 100px;
    }
}
@media(max-width:500px){
    .listPopupContainer{
        width: 340px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}