.footer {
    font-size: 12px;
}

.tos {
    font-size: 12px;
}

.toolbar {
    justify-content: center !important;
    width: 100% !important;
    min-height: 50px;
}

.icons {
    height: 31px;
    width: 31px;
}

@media only screen and (max-width:890px) {
    .footer {
        font-size: 10px !important;
    }
    
    .tos {
        font-size: 10px !important;
    }

    .icons {
        height: 25px;
        width: 25px;
    }

    .discord {
        height: 18px;
        width: 18px;
    }

}