.banner {
    width: 100%;
    height: auto;
    border-radius: 10px !important;
}

.container {
    width: 100%;
    height: auto;
    text-align: center;

}

.countdowndesc {
    text-align: center;
    margin-top: 50px !important;
    font-size: 25px !important;
    color: rgb(77, 77, 77);
}

.countdown {
    text-align: center;
    font-size: 75px !important;
}

.time {
    text-align: center;
    font-size: 25px !important;
    color: rgb(77, 77, 77);
}

.mintButton {
    margin-top: 20px;
    text-align: center
}

@media only screen and (max-width:890px) {
    .countdowndesc {
        text-align: center;
        margin-top: 50px !important;
        font-size: 15px !important;
        color: rgb(77, 77, 77);
    }
    
    .countdown {
        text-align: center;
        font-size: 55px !important;
    }
    
    .time {
        text-align: center;
        font-size: 15px !important;
        color: rgb(77, 77, 77);
    }

}
