/* Hot Collections */
.slick-slide canvas {
    display: block;
}
.nft_coll_pp canvas {
    width: 60px;
    height: auto;
    border: solid 5px #FFFFFF;
    background: #FFFFFF;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.nft_coll canvas {
    transition: 0.7s;
}

/* Header Avatar */
.de-menu-profile canvas {
    width: 38px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    margin-left: 5px;
    margin-bottom: 2px;
}
canvas {
    vertical-align: middle;
}

/* Rankings Avatar */
.coll_list_pp {
    canvas {
        width: 100%;
        border-radius: 100% !important;
        position: relative;
        z-index: 1;
    }
}

$white: #fff;
$color: #218cff;
.btn_menu {
    font-size: 12px;
    padding: 4px 10px;
    line-height: 1em;
    border: solid 1px #dddddd;
    display: inline-block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    outline: none;
    &:hover {
        color: $white;
        background: $color;
        border: solid 1px $color;
    }
}